@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
	box-sizing: border-box;
}

body{
	font-family: 'Inter',sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.carousel{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	height: 530px;
	width: 500px;
	overflow: hidden;
}


.image-countainer{
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out;
	position: relative;
}


img{
	width: 500px;
	height: 500px;
	object-fit: cover;
}

img.out{
	animation: goOut 0.5s ease-out;
}

.buttons-countainer{
	display: flex;
	justify-content: space-between;
}

button{
	background-color: rebeccapurple;
	color: #fff;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	width: 49.5%;
}

button:hover{
	opacity: 0.8;
}

button:focus{
	outline: none;
}

@keyframes goOut {
	0%   {transform: translateX(-25%);}
	25%  {transform: translateX(-50%);}
	50%  {transform: translateX(-75%);}
	100% {transform: translateX(-100%);}
}